### ETL - Extract, Transform, Load and Pipelines

1. Extracting Data
2. Transforming Data
3. Loading Data
4. Building Pipelines

Steps to Connect PostGreSQL
1. Ensure Required Libraries Are Installed
   (sqlalchemy and psycopg2-binary pandas)
2. Set up the Connection String
3. Create the Engine and Extract Data
4. Handle Potential Issues

In [1]:
# connecting to a database with python

from sqlalchemy import create_engine
import pandas as pd

# define postgresql credentials and database details
username = 'myuser'
password = '4r3e2w1Q'
database = 'mydatabase'
host = 'localhost'
port = '5432'

# create the connection string
connection_string = f'postgresql://{username}:{password}@{host}:{port}/{database}'

try:
    # create an engine instance
    engine = create_engine(connection_string)
    
    # define the query
    query = 'SELECT * FROM my_table'
    
    # connect to the database and extract the data
    df = pd.read_sql(query, engine)
    
    # print the first few rows from the dataframe
    print('Data extracted successfully!')
    print(df.head())

except Exception as e:
    print('An error occured:')
    print(e)

Data extracted successfully!
   id     name  age         city   salary
0   1    Alice   30     New York  70000.0
1   2      Bob   25  Los Angeles  80000.0
2   3  Charlie   35      Chicago  90000.0
3   4    David   28      Houston  60000.0
4   5      Eve   40      Phoenix  75000.0

In [3]:
# extract data from csv file
csv_file = 'synthetic_data.csv'
df = pd.read_csv(csv_file)
print(df.head())

   id               name  age         city  salary   join_date
0   1  Melody Cunningham   56     New York   38392  2022-01-20
1   2       Laura French   46     New York   60535  2022-11-18
2   3        Brandi Reed   32      Chicago  108603  2015-03-24
3   4    Douglas Kennedy   25  Los Angeles  143569  2016-11-16
4   5        Tammy Evans   38  Los Angeles   82256  2015-04-15

In [ ]:
from sql alchemy import create_engine

# create an engine instance
engine = create_engine(