### 1. Basic Syntax, Data Types, and Control Structures

In [ ]:
# Variables and Data Types

x = 5

y = "Hello, World!" 

z = 3.14 
 
is_active = True

In [ ]:
# List

my_list = [1, 2, 3, 4, 5]

# Tuple (immutable list)
my_tuple = (1, 2, 3, 4, 5)

# Set (unique elements)
my_set = {1, 2, 3, 4, 5}

# Dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

In [ ]:
# Lists

my_list = [1, 2, 3, 4, 5]
print(my_list)
print(my_list[0])  # Accessing the first element
my_list.append(6)  # Adding an element
print(my_list)

In [ ]:
# Dictionaries

my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)
print(my_dict["name"])  # Accessing value by key
my_dict["age"] = 31  # Modifying a value
print(my_dict)

In [ ]:
# String Operations

# Concatenation
full_name = "John" + " " + "Doe"

# Formatting
age = 30
formatted_string = f"My name is {full_name} and I am {age} years old."

# Methods
upper_case = full_name.upper()
lower_case = full_name.lower()

In [ ]:
# Control Structures

# If-Else
if x > 2:
    print("x is greater than 2")
else:
    print("x is not greater than 2")

# For Loop
for i in my_list:
    print(i)

# While Loop
count = 0
while count < 5:
    print("Count:", count)
    count += 1

In [ ]:
# Functions
def add(a, b):
    return a + b

print(add(2, 3))

# Lambda Functions
add = lambda a, b: a + b
print(add(2, 3))

### Data Manipulation with Pandas

In [ ]:
# Creating a DataFrame

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)
print(df)

In [ ]:
# Reading CSV
df = pd.read_csv('data.csv')

# Writing CSV
df.to_csv('output.csv', index=False)

In [ ]:
# Viewing Data
print(df.head())  # Viewing the first few rows
print(df.tail())  # Viewing the last few rows
print(df.describe())  # Summary statistics
print(df.info())  # Information about the DataFrame

In [ ]:
# Basic Operations

print(df['Age'].mean())  # Average age
print(df['Age'].max())  # Maximum age

In [ ]:
# Selecting columns
print(df['column_name'])

# Selecting multiple columns
print(df[['column1', 'column2']])

# Selecting rows by index
print(df.iloc[0])  # First row

# Selecting rows by condition
print(df[df['column_name'] > 10])

In [ ]:
# Data Cleaning

# Handling missing values
df = df.dropna()  # Drop rows with missing values
df = df.fillna(0)  # Fill missing values with 0

# Removing duplicates
df = df.drop_duplicates()

In [ ]:
# Data Transformation

# Adding a new column
df['new_column'] = df['existing_column'] * 2

# Applying functions to columns
df['new_column'] = df['existing_column'].apply(lambda x: x * 2)

# Renaming columns
df = df.rename(columns={'old_name': 'new_name'})

# Binning data
df['binned'] = pd.cut(df['column'], bins=[0, 10, 20, 30], labels=['Low', 'Medium', 'High'])

In [ ]:
# Merging DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})

merged_df = pd.merge(df1, df2, on='key', how='inner')  # Inner join
merged_df = pd.merge(df1, df2, on='key', how='outer')  # Outer join

In [ ]:
# Filtering Data

print(df[df['Age'] > 28])  # Filter rows where age is greater than 28

In [ ]:
# Adding a New Column
df['Age in 5 Years'] = df['Age'] + 5
print(df)

In [ ]:
# Group By
grouped = df.groupby('column_name')

# Aggregations
print(grouped['another_column'].sum())
print(grouped['another_column'].mean())

In [ ]:
# Creating a Pivot Table

pivot_table = pd.pivot_table(df, values='value_column', index='index_column', columns='column_column', aggfunc='sum')
print(pivot_table)

In [ ]:
# Handling Time Series Data

# Converting to DateTime
df['date_column'] = pd.to_datetime(df['date_column'])

# Setting the index
df.set_index('date_column', inplace=True)

# Resampling
df_resampled = df.resample('M').sum()  # Resample by month and sum
print(df_resampled)

### Numerical Operations with NumPy

In [ ]:
import numpy as np

# Creating Arrays
arr = np.array([1, 2, 3, 4, 5])
arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

In [ ]:
# Basic Operations
print(np.mean(arr))  # Mean of the array
print(np.sum(arr))  # Sum of the array
print(np.max(arr))  # Maximum value
print(np.min(arr))  # Minimum value

# Element-wise Operations
print(arr + 10)
print(arr * 2)

In [ ]:
# Reshaping Arrays
arr_reshaped = arr.reshape((1, 5))
print(arr_reshaped)

In [ ]:
# Advanced Indexing

# Slicing
print(arr[1:4])  # Elements from index 1 to 3

# Boolean Indexing
print(arr[arr > 2])  # Elements greater than 2

In [ ]:
# Statistical Functions

# Standard Deviation and Variance
print(np.std(arr))
print(np.var(arr))

# Correlation and Covariance
print(np.corrcoef(arr, arr))
print(np.cov(arr, arr))

In [ ]:
# Generating Random Numbers
random_arr = np.random.rand(5)
print(random_arr)

In [ ]:
# Vectorized Operations

vector1 = np.array([1, 2, 3, 4])
vector2 = np.array([4, 3, 2, 1])

print(vector1 + vector2)  # Element-wise addition
print(vector1 * vector2)  # Element-wise multiplication

In [ ]:
# Linear Algebra

matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

print(np.dot(matrix1, matrix2))  # Matrix multiplication
print(np.linalg.inv(matrix1))  # Inverse of a matrix
print(np.linalg.eig(matrix1))  # Eigenvalues and eigenvectors

### Matplotlib for Data Visualization

In [ ]:
import matplotlib.pyplot as plt

# Simple Line Plot
plt.plot(arr)
plt.title('Simple Line Plot')
plt.xlabel('Index')
plt.ylabel('Value')
plt.show()

# Bar Plot
plt.bar(df['Name'], df['Age'])
plt.title('Age of Individuals')
plt.xlabel('Name')
plt.ylabel('Age')
plt.show()

### Advanced Libraries

In [ ]:
# Scipy for Scientific Computing

from scipy import stats

# Statistical Functions
arr = np.array([1, 2, 2, 3, 4, 5, 5, 5, 6])
mode = stats.mode(arr)
print(f"Mode: {mode.mode[0]}, Count: {mode.count[0]}")

# T-Test
sample1 = np.array([1, 2, 3, 4, 5])
sample2 = np.array([2, 3, 4, 5, 6])
t_stat, p_value = stats.ttest_ind(sample1, sample2)
print(f"T-Statistic: {t_stat}, P-Value: {p_value}")

In [ ]:
# Requests for HTTP Requests

import requests

response = requests.get('https://api.github.com')
print(response.status_code)
print(response.json())

### Working with APIs

In [ ]:
# Making GET Requests

import requests

response = requests.get('https://api.github.com/users/octocat')
data = response.json()
print(data)

In [ ]:
# Making POST Requests

import requests

payload = {'key1': 'value1', 'key2': 'value2'}
response = requests.post('https://httpbin.org/post', data=payload)
print(response.text)